html{
scroll-behavior: smooth;
}
/*############################################################### header  #################################################################*/
.logo-resp{
width: 100%;
text-align: center;
}
.logo{
    width: 150px;
}
.logo-image{
vertical-align: middle;
max-width: 100%;
height: auto;
display: inline;
width: 100%;
}
.toggle:not(.collapsed) span.navbar-toggler-icon {
background-image: url(../image/close.svg);
background-size: 20px;
}.logo-image
.toggle{
border: none!important;
width: 50px!important;
margin-left: 5px;
}
.menu-icon {
width: 100%;
margin-top: 5px;
}
.toggle:focus{
outline: none!important;
}
.message-bar{
color: #fff;
font-weight: 500;
}
.email-bar{
font-size: 12px;
margin: 0 20px;
font-family: 'Lora', serif!important;
color: #fff;
}
.email-bar:hover{
text-decoration: none;
color: #fff;
}
img.web-img {
width: 16px;
}
a.web-link:hover{
text-decoration: none;
}
img.social-img {
width: 16px;
}
img.social-fb-img {
width: 7px;
}
ul.social-lists {
list-style: none;
}
.upr-contact {
background: #F7F2EE;
padding: 10px;
}
.social-bar {
text-align: right;
}
a.social-list-link {
margin: 6px;
}
.web-no {
margin-left: 16px;
color: #AAAAAA;
font-family: 'Montserrat', sans-serif;
}
.container.upr-bar {
max-width: 1333px!important;
}
/*################################## media responsive #########################################################*/
@media only screen and (min-width:320px) and (max-width:768px){
.logo-resp {
margin-bottom: -21px!important;
}
.mr-no {
margin-left: 5px!important;
text-align: left!important;
}
.menu-list {
text-align: left!important;
margin: 0 5px !important;
}
p.dst-pera {
font-size: 11px!important;
}
p.hotel-pera {
font-size: 11px!important;
}
h3.bnnr-heading {
font-size: 42px!important;
}
h1.bnnr-dn-heading {
font-size: 34px!important;
}
.container.position-relative.play-sec {
margin-top: -112px!important;
width: 100%;
}
.bnnr-img {
min-height: 362px!important;
}
h4.why-pera {
font-size: 30px!important;
}
h3.why-heading {
font-size: 22px!important;
}
.tb-link {
max-width: 100%!important;
font-size: 8px;
margin-bottom: -4px!important;
}
.mr-left {
margin-left: 17px!important;
}
h5.tour-heading {
font-size: 23px!important;
}
h2.tour-dn-heading {
font-size: 25px!important;
}
h5.rew-heading {
font-size: 23px!important;
}
h2.rew-dn-heading {
font-size: 25px!important;
}
.feature-bar.text-center {
    margin-top: 5px!important;
}
.tabs-bar .react-tabs ul li {
    margin-right: 12px!important;
    padding: 6px 1px!important;
    font-size: 11px!important;
}
.rew-img {
width: 20%!important;
}
.ctrl-btn {
right: 52px!important;
top: 112%!important;
}
.ctrl-rght-btn {
top: 112%!important;
left: 88%;
}
img.left-icon {
width: 103%!important;
}
p.rew-pera {
margin-top: 36px!important;
margin-left: auto;
margin-right: auto;
width: 100%!important;
font-size: 10px!important;
}
.review-sec .carousel-control-prev-icon {
    width: 55px!important;
}
.review-sec .carousel-control-next-icon {
    width: 55px!important;
}
.review-sec .carousel-control-prev {
    left: 66%!important;
}
input.form-control.fields {
width: 100%!important;
}
input.message-btn.btn-block.btn-lg {
width: 100%!important;
}
.cpy-sec {
padding: 0px!important;
padding-top: 10px!important;
padding-bottom: 10px!important;
}
p.cpy-pera {
text-align: center!important;
font-size: 11px!important;
}
p.pp-pera {
text-align: center!important;
font-size: 12px!important;
}
footer.foot-sec {
padding-top: 0px!important;
margin-top: 10px!important;
padding-bottom: 20px!important;
}
.foot-logo {
/*width: 100%!important;*/
margin-top: 47px!important;
margin-left: auto;
margin-right: auto;
}
.foot-content.text-center {
margin-top: 27px!important;
}
ul.foot-item {
padding-left: 10px!important;
margin-top: 25px!important;
}
a.foot-social {
margin-left: 28px!important;
}
.hr-sect {
margin-top: 27px!important;
}
/****************/
.inner-banner {
    min-height: 307px!important;
    margin-top: 20px;
    padding-top: 115px!important;
}
h1.inner-heading {
    font-size: 30px!important;
}
.destinton-txt p {
    font-size: 12px!important;
    width: 100%!important;
}
.dest_sec{
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.btn.load_btn {
    font-size: 14px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
}
/********** tour-page *************/
.single-tour .owl-carousel .owl-nav button.owl-prev {
    top: -89px!important;
    right: 28px!important;
}
.single-tour .owl-carousel .owl-nav button.owl-next {
    right: -35px!important;
    top: -89px!important;
}
.item.brdr {
    margin: 0 0px!important;
}
/************* single page ************/
.boder {
    margin: 10px 0;
}
.tab_bar .react-tabs ul li {
    padding: 6px!important;
    font-size: 11px;
}
.tab_bar .react-tabs .react-tabs__tab-panel {
    padding: 10px 10px!important;
    font-size: 12px!important;
}
.asis {
    margin-top: 20px;
}
.wish .btn {
    padding: 15px 25px!important;
}
.wish .btn span {
    left: 14%!important;
}
.cabs {
    margin-top: 20px;
}
}

@media only screen and (min-width:768px) and (max-width:992px){
.logo-resp {
margin-bottom: -71px!important;
}
}
@media only screen and (min-width:992px){
.resp{
display: none!important;
}
}
@media only screen and (max-width:1024px){
input.form-control.fields {
width: 100%!important;
}
input.message-btn.btn-block.btn-lg {
width: 100%!important;
}    
}
@media only screen and (min-width:320px) and (max-width:991px){
#main-header {
margin-top: 0px!important;
}
.upr-contact {
padding: 5px;
}
ul.social-lists {
padding-left: 0px;
}
.web-no {
margin-left: 12px;
font-size: 12px;
}
a.social-list-link {
margin: 3px;
}
img.social-img {
width: 11px;
}
img.social-fb-img {
width: 6px;
}
.logo-link {
max-width: 85px!important;
}
.logo-image {
width: 109px!important;
margin-top: 4px;
}
.logo{
display: none!important;
}
.menu p {
font-size: 14px!important;
}
.fot-logo-bar {
padding: 10px!important;
width: 100%!important;
text-align: center;
}
.fot-logo {
width: 200px!important;
height: auto;
}
}
.container.nav-bar {
max-width: 1333px!important;
}
#main-header{
height: auto;
width: 100%;
margin-top: 20px;
}
.menu-section{
float: left;
z-index: 201;
width: 100%;
padding: 10px;
}
.nav-header {
padding-left: 0px!important;
padding-right: 0px!important;
}
.left-nav{
margin-top: 20px;
}
.right-nav{
margin-top: 20px;
}
.menu p{
color: #1F1E24!important;
font-family: 'Lora', serif!important;
font-size: 17px;
}
img.menu-img {
width: 28px;
margin-bottom: 17px;
}
.mr-no{
margin-left: 0px;
text-align: center;
}
.menu-list {
margin: 0 25px;
text-align: center;
}
.tour-sec {
margin-top: 30px;
}
.owl-nav{
text-align: right!important;
}
.owl-carousel .owl-nav button.owl-next {
background: url('../image/right.png')!important;
background-size: cover!important;
background-repeat: no-repeat;
width: 66px;
height: 83px;
background-position: center!important;
}
button.owl-prev:focus{
outline: 0!important
}
button.owl-next:focus{
outline: 0!important
}
.owl-carousel .owl-nav button.owl-prev{
background: url('../image/left.png')!important;
background-repeat: no-repeat;
background-size: cover!important;
background-position: center!important;
width: 66px;
height: 83px;
}
.owl-next span{
display: none!important;
}
.owl-prev span{
display: none!important;
}
.owl-dots span{
display: none!important;
}
.dst-cntnt {
text-align: center;
margin-top: 15px;
}
h3.dst-heading {
font-family: 'Conv_EPIC RIDE';
font-size: 36px;
}
.item {
padding-bottom: 30px;
border: 1.5px solid #FDFCFC;
}
p.dst-pera {
font-family: 'Montserrat', sans-serif;
font-size: 13px;
color: #051734;
}
p.dest-dn-pera {
color: #AAAAAA;
font-size: 14px;
font-family: 'Montserrat', sans-serif;
}
.hotel-contain {
max-width: 1333px!important;
}
h2.hotel-heading {
color: #1F1E24;
font-family: 'Lora', serif;
font-weight: 700;
font-size: 36px;
margin-bottom: 20px;
}
p.hotel-pera {
font-family: 'Montserrat', sans-serif;
color: #AAAAAA;
}
.hotel-sec .owl-nav button.owl-next{
display: none;
}
.hotel-sec .owl-nav button.owl-prev{
display: none;
} 
.htl-cntnt {
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}
h3.htl-heading {
font-size: 19px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
color: #051734;
}
p.htl-pera {
font-size: 13px;
margin-top: 20px;
font-family: 'Montserrat', sans-serif;
color: #AAAAAA;
margin-left: auto;
margin-right: auto;
width: 235px;
}
a.btn.ex-btn {
font-family: 'Montserrat', sans-serif;
color: #051734;
border: 1px solid #EAEDF4;
border-radius: 1px;
width: 131px;
font-size: 12px;
margin-top: 20px;
}
a.btn.ex-btn:hover {
background: #051734;
border: 1px solid #051734;
color: #fff;
}
div#hotel-slider {
margin-top: 46px;
}
.bnnr-img {
background: url(../image/bnnnr.png) no-repeat;
min-height: 598px;
background-position: center center;
background-size: cover;
padding-top: 42px;
}
h3.bnnr-heading {
color: #FDFCFC;
font-family: 'Conv_EPIC RIDE';
font-size: 58px;
}
h1.bnnr-dn-heading {
color: #FDFCFC;
font-family: 'Lora', serif;
font-weight: 700;
font-size: 54px;
}
.position-relative.rafting-bar {
width: 100%;
}
img.raft-img {
width: 100%;
display: block;
}
.play-icon-bar {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
img.play-img {
width: 32%;
}
.container.position-relative.play-sec {
margin-top: -399px;
max-width: 966px;
margin-bottom: 50px;
}
h4.why-pera {
font-family: 'Conv_EPIC RIDE';
font-size: 40px;
color: #051734;
}
h3.why-heading {
font-family: 'Lora', serif;
font-weight: 700;
color: #1F1E24;
font-size: 36px;
margin-top: 17px;
}
h5.featr-heading {
color: #051734;
margin-top: 15px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 17px;
}
img.featr-img {
width: 20%;
}
.feature-bar.text-center {
padding: 10px;
margin-top: 35px;
}
p.featre-pera {
font-family: 'Montserrat', sans-serif;
font-size: 13px;
color: #AAAAAA;
margin-top: 15px;
}
.tours-sec {
background: #FDFCFC;
margin-top: 40px;
padding-top: 45px;
}
h5.tour-heading {
font-family: 'Conv_EPIC RIDE';
font-size: 40px;
color: #051734;
}
h2.tour-dn-heading {
font-family: 'Lora', serif;
font-weight: 700;
color: #1F1E24;
font-size: 36px;
margin-top: 17px;
}
/************************/
.tabs-bar .react-tabs ul{
    text-align: left;
    border-bottom: none;
}
.tabs-bar .react-tabs ul li{
    border: none;
    margin-right: 40px;
    font-weight: bold;
}
.tabs-bar .react-tabs ul .react-tabs__tab--selected{
    border-bottom: 4px solid #143B6E!important;
}
/*************************/
.tabs-bar{
margin-top: 40px;
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
border-bottom: 4px solid #143B6E!important;
max-width: 180px;
}
.item.no-brdr {
border: none;
background: #FDFCFC;
padding-bottom: 0px;
}
.tour-cntnt {
padding: 10px;
text-align: left;
}
h5.tours-heading {
color: #051734;
margin-top: 15px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 15px;
}
p.tour-pera {
font-family: 'Montserrat', sans-serif;
font-size: 13px;
color: #030C1A;
margin-top: 17px;
}
.tb-link{
text-align: left!important;
background: transparent!important;
border: none!important;
color: #1F1E24!important;
font-family: 'Montserrat', sans-serif;
font-weight: 700!important;
padding: 0px!important;
padding-bottom: 10px!important;
max-width: 161px!important;
margin-bottom: -4px!important;
}
.nav-fill{
border-bottom: 4px solid #EAEDF4!important;
}
.mr-left {
margin-left: 44px;
}
.review-sec {
    /* margin-top: 40px; */
    position: relative;
    padding: 70px 0px;
}
.rew-img{
width: 10%!important;
}
h5.rew-heading {
font-family: 'Conv_EPIC RIDE';
font-size: 40px;
color: #051734;
}
h2.rew-dn-heading {
font-family: 'Lora', serif;
font-weight: 700;
color: #1F1E24;
font-size: 36px;
margin-top: 17px;
margin-bottom: 50px;
}
p.rew-pera {
margin-top: 30px;
margin-left: auto;
margin-right: auto;
width: 867px;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
color: #030C1A;
}
img.left-icon {
width: 50%;
}
.carousel .slide {
    background: #fff;
}
.review-sec .carousel-control-prev-icon {
    background-image: url('../image/left.png');
    background-repeat: no-repeat;
    background-size: cover!important;
    background-position: center!important;
    width: 66px;
    height: 83px;
}
.review-sec .carousel-control-next-icon {
    background-image: url('../image/right.png');
    background-repeat: no-repeat;
    background-size: cover!important;
    background-position: center!important;
    width: 66px;
    height: 83px;
}
.review-sec .carousel ol{
    display: none;
}
.review-sec .carousel-control-prev {
    position: absolute;
    right: 0;
    display: block;
    top: 100%;
    left: 78%;
}
.review-sec .carousel-control-next {
    position: absolute;
    right: 0;
    display: block;
    top: 100%;
}
.ctrl-rght-btn {
top: 117%!important;
opacity: .9 !important;
}
.ctrl-btn {
left: auto!important;
right: 68px;
opacity: .9 !important;
top: 117%!important;
}
footer.foot-sec {
background: #051734;
padding-top: 75px;
margin-top: 35px;
padding-bottom: 50px;
}
.foter-inner {
max-width: 1333px!important;
}
img.foot-logo-img {
width: 100%;
}
img.fot-logo-img {
width: 18%;
}
.foot-logo {
width: 185px;
}
.hr-sect {
display: flex;
flex-basis: 100%;
align-items: center;
color: #AAAAAA;
margin: 8px 0px;
font-family: 'Montserrat', sans-serif;
}
.hr-sect::before{
content: "";
flex-grow: 1;
background: #AAAAAA;
height: 1px;
font-size: 0px;
line-height: 0px;
margin: 0px 8px;
max-width: 105px;
margin-right: 22px;
}
.hr-sect::after {
content: "";
flex-grow: 1;
background:#AAAAAA;
height: 1px;
font-size: 0px;
line-height: 0px;
margin: 0px 8px;
max-width: 105px;
margin-left: 22px;
}
ul.foot-item {
list-style: none;
/*padding-left: 19px;*/
margin-top: 36px;
}
img.fot-logo-img {
width: 10%;
}
a.foot-social {
margin-left: 35px;
}
input.form-control.fields {
background: transparent;
border-radius: 1px;
border: 1px solid #AAAAAA;
width: 360px;
height: 45px;
margin-top: 20px;
color: #AAAAAA;
}
input.form-control.fields:focus{outline: 0px!important; box-shadow: none!important;}
input.form-control.fields::placeholder {
color: #AAAAAA;
}
input.message-btn.btn-block.btn-lg{
border: 1px solid #143B6E;
background: #143B6E;
border-radius: 1px;
color: #FDFCFC;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
height: 45px;
width: 360px;
}
input.message-btn.btn-block.btn-lg:focus{outline: 0px!important}
input.message-btn.btn-block.btn-lg:active{outline: 0px!important}
.cpy-contain {
max-width: 1333px!important;
}
.cpy-sec {
padding: 20px;
background: #030C1A;
}
p.cpy-pera {
color: #AAAAAA;
font-family: 'Montserrat', sans-serif;
margin-top: 10px;
}
p.cpy-pera a{
color: #AAAAAA;
}
p.cpy-pera a:hover{
text-decoration: none;
}
p.pp-pera {
font-family: 'Montserrat', sans-serif;
margin-top: 10px;
}
p.pp-pera a{
color: #AAAAAA;
}
p.pp-pera a:hover{
text-decoration: none;  
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block!important;
}
a.nav-link.menu:focus {
    outline: none!important;
}

/************* destination-page ************/
.inner-banner {
    background: url(/static/media/bnnnr.a3b2c8e7.png) no-repeat;
    min-height: 475px;
    background-position: center center;
    background-size: cover;
    padding-top: 180px;
}
h1.inner-heading {
    color: #fff;
    font-size: 55px;
    font-family: 'Lora', serif;
    font-weight: 700;
}
.more-destination {
    padding-top: 5em;
}
.destinton-txt {
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
}
.dest_sec{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.dest_link{
    float: left;
    margin: 0 0 25px 0;
    transition: all .4s ease 0s;
}
.dest_link:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}
.destinton-txt h3 {
    font-family: 'Conv_EPIC RIDE';
    font-size: 36px;
}
.destinton-txt p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #051734;
    width: 307px;
    margin: 0 auto;
}
p.dest_item_vlg {
    color: #AAAAAA;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}
.container.destion-wdth {
    max-width: 1420px;
}
.lod_btn.text-center {
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn.load_btn {
    border: 1px solid #143B6E;
    background: #143B6E;
    border-radius: 1px;
    color: #FDFCFC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding-left: 50px;
    padding-right: 50px;
}

.single-tour {
    margin: 47px 0;
}
.single-tour .owl-carousel .owl-nav button.owl-prev {
    background: url('../image/left.png')!important;
    background-repeat: no-repeat;
    background-size: cover!important;
    background-position: center!important;
    width: 66px;
    height: 83px;
    position: absolute!important;
    top: -83px;
    right: 65px;
}
.single-tour .owl-carousel .owl-nav button.owl-next {
    background: url('../image/right.png')!important;
    background-size: cover!important;
    background-repeat: no-repeat;
    width: 66px;
    height: 83px;
    background-position: center!important;
    position: absolute!important;
    right: 3px;
    top: -83px;
}
.item.brdr {
    box-shadow: 0px 5px 1px 1px #FDFCFC;
    margin: 0 20px;
    padding-bottom: 10px;
}
a.btn.tour-bok-btn {
    font-family: 'Montserrat', sans-serif;
    color: #051734;
    border: 1px solid #EAEDF4;
    border-radius: 1px;
    width: 131px;
    font-size: 12px;
    margin-top: 20px;
}
a.btn.tour-bok-btn:hover{
    background: #051734;
    color: #fff;
    border: 1px solid #051734;
}
/************** about-page ***************/
.about-bar {
    margin-top: 50px;
}
.about-pera {
    padding: 20px 0;
}
.about-pera p {
    text-align: justify;
    line-height: 2;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
/************ hotel-page **********/
.hotel-pge-sec {
    margin-top: 50px;
}
.htl-cntnt {
    padding-bottom: 30px;
    border: 1.5px solid #FDFCFC;
}
/********** contact-page ***********/
.contact-sec {
    margin: 50px 0;
}
.contact-txt p {
    color: #AAAAAA;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.contact-txt a{
    text-decoration: none;
}
.contact-txt h3 {
    color: #1F1E24;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
}
.name-fields {
    width: 260px!important;
}
.lastname-fields {
    width: 260px!important;
    margin-left: auto;
}
.contact-bar {
    margin-top: 30px;
}
.contact-field-sec {
    background: #b3b3b31f;
}
input.form-control {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background: transparent;
}
.contact-bar input.form-control::placeholder{
    color: #AAAAAA;
}
textarea.form-control{
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background: transparent; 
}
.contact-bar textarea.form-control::placeholder{
    color: #AAAAAA;
}
.contact-bar p {
    color: #AAAAAA;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.contact-bar button {
    width: 50%;
    background: #143B6E;
    border: 1px solid #143B6E;
    color: #fff;
    border-radius: 1px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    transition: all .4s ease 0s;
}
.contact-bar button:hover{
    background: transparent;
    border: 1px solid #143B6E;
    color: #143B6E;
}
/************ cab-page **************/
.inner-cab-banner {
    background: url(../image/cabbanner.jpg) no-repeat;
    min-height: 475px;
    background-position: center center;
    background-size: cover;
    padding-top: 180px;
}

.cab-bar {
    text-align: center;
    border: 1.5px solid #FDFCFC;
}
.cab {
    padding: 20px 0;
}
.cab h4 {
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #051734;
}
.cab p {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #051734;
}
.cab-bar a {  
color: #051734;
border: 1px solid #EAEDF4;
border-radius: 1px;
padding: 6px 25px;


}
.btn:hover {
background-color: #051734;  
color: white;
} 



/************ sngle cab ************/
.cabs {
    max-width: 1445px;
}
.first_cab_sec {
    margin-top: 50px;
}
#slider .carousel-root .carousel .thumbs-wrapper ul{
    text-align: center;
}
#slider .carousel-root .carousel .thumbs-wrapper ul li{
    width: 125px!important;
    opacity: 0.5;
}
#slider .carousel-root .carousel .thumbs-wrapper ul .selected{
    opacity: 1;
    border: none!important;
}
#slider .carousel-root .carousel .thumbs-wrapper ul li:hover{
    opacity: 1;
    border: none!important;
}
#slider .carousel-root .carousel-slider .control-dots{
    display: none;
}

#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
    } 
    #myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
    }
    #myCarousel .carousel-indicators > li {
    width: initial;
    height: initial; 
    text-indent: initial;
    }
    #myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
    }
    .checked {
    color: darkblue;
    }
    .guest{
    width: 50%
    }
    .rating span.fa.fa-star {
    margin-right: 5px;
    }
    .rating {
    margin-bottom: 40px;
    }
    .boder {
    border: 1px solid;
    text-align: center;
    }
    .guest {	
    /* width: 50%; */
    float: left;
    display: flex;
    width: 267px;
    margin-top: 30px;
    }
    .col-md-12.reviews {
    margin-top: 60px;
    margin-bottom: 43px;
    text-align: center;
    }
    img.img_call {
    width: 20px;
    }
    img.img_icons {
    width: 80px;
    float: left;
    margin-right: 10px;
    }
    span.need {
    color: #051734;
    padding-left: 10px;
    font-weight: 700;
    }
    .wish .btn {  
    color: #051734!important;
    border: 1px solid #EAEDF4;
    border-radius: 1px;
    border: 1px solid;
    padding: 15px 70px;
    margin-top: 45px;
    text-align: center;
    display: block;
    position: relative;
    }
    .wish .btn:hover {
    background-color: #051734!important;  
    color: white!important;
    }
    .wish .btn span {
        position: absolute;
        left: 23%;
     }  		
    .location {
    margin-bottom: 25px;
    }
    a#nav-about-tab qq {
color: #051734 !important;
background-color: #fff;
border-color: #051734 !important;
}
.nav-tabs .nav-link {
border: none !important; 
border-top-left-radius: 0rem!important; 
border-top-right-radius: 0rem!important; 
}
.nav-tabs {
border-bottom: 0px!important;
}

element.style {
padding-top: 0px!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: #051734;
background-color: none!important;
border-color: none!important;
}
nav.nv {
color: #fff;
background-color: #051734;
}
a {
color: #fff;  
text-decoration: none!important;
background-color: transparent;
}
.shadow.p-3.mb-5.bg-white.rounded.ee {
padding-top: 0px !important;
} 
.taber a {
border-right: 1px solid #fff!important;
padding: 15px;
width: 100px
}
.taber a.active{
background: #fff;
color: #051734;
}     

div #nav-reviews hh{
padding-top: 20px;
}
.rating span {
    margin-right: 5px;
    color: #051734;
    font-size: 20px;
}
.tab_bar .react-tabs ul {
    border-bottom: none;
    background: #051734;
}
.tab_bar .react-tabs ul li {
    border-right: 1px solid #fff!important;
    padding: 15px 30px;
    background: #051734;
    color: #fff;
    border-radius: unset;
    border: none;
}
.tab_bar .react-tabs ul .react-tabs__tab--selected{
    background: #fff;
    color: #051734;
}
.tab_bar .react-tabs .react-tabs__tab-panel {
    padding: 10px 20px;
    font-size: 18px;
    color: #000;
}
.asis a{
    color: #051734;
}
a{
    color: #051734; 
}
.ww span{
    margin-right: 2px;
    color: #051734;
    font-size: 15px;
}























.tab_section_text h3 {
    color: #333;
    font-size: 27px;
    font-weight: bolder;
    font-family: "Helvetica";
}
.clip_ptrn{
    background-position: center;
    background-size: cover;
    padding: 50px 15;
    background-repeat: no-repeat;
}
.primary--btn {
    padding: 8px 18px 8px;
    font-size: 13px;
    line-height: 3.5;
}

/******** edit this css it is already in media coil and (min-width: 320px) and (max-width: 767px) search in this media css **********/
.cater_sec {
    margin-top: -45px;
    padding-right: 0px !important;
}
/****************************************************/